{% extends 'base.html.twig' %} 
{% block title %}Ajout d'un livre{%endblock %} 
{% block body %}
<main>
  <h2>Ajout d'un livre</h2>
    
  <div class="content">
    {{ form(form) }}
  </div>

</main>
{% endblock %}
