{% extends 'base.html.twig' %} 
{% block title %}Ajout d'un livre{%endblock %} 
{% block body %}
  <h2>Ajout d'un livre</h2>
    
  <div class="container">
    {{ form(form) }}
    <button type="submit" class="buttun">
      {% if editMode %}
        Enregistrer les modifications
      {% else %}
        Ajouter un livre
      {% endif %}
    </button>
  </div>
{% endblock %}
